/* Google font - open sans */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap');

/* reset styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Common Shared styles */
body {
  font-family: 'Open Sans', sans-serif;
}

hr {
  width: 558px;
  margin-bottom: 30px;
}

:root {
  --primary-bgcolor: #fff8f3;
  --primary-color: #fd6e0a;
  --dark-01: #181818;
  --dark-02: #474747;
  --dark-03: #757575;
  --white-color: #fff;
}

.primary-color-text {
  color: var(--primary-color);
}

.btn-primary {
  border: none;
  border-radius: 5px;
  background: #fd6e0a;
  cursor: pointer;
  color: var(--white-color);
  font-size: 20px;
  font-weight: 700;
  line-height: normal;
  padding: 18px 36px;
  margin-right: 10px;
}

.btn-primary-outline {
  border: 1px solid var(--primary-color);
  background: transparent;
  color: var(--primary-color);
}

.section-title {
  color: var(--dark-01);
  text-align: center;
  font-size: 35px;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 30px;
}

.section-description {
  color: var(--dark-03);
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
}

.btn-container-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* header related styles */
header {
  background-color: #fff8f3;
}

header .banner {
  position: relative;
  display: flex;
  padding: 0 30px 0px 180px;
  background-image: url('../images/header_bg.png');
  background-repeat: no-repeat;
  background-position: bottom right;
  justify-content: space-between;
}
header .rotated-side-image {
  position: absolute;
  left: 31px;
  top: -129px;
}

header .banner-image {
  width: 500px;
}
header .banner-content {
  margin-top: 120px;
}

header .banner-greeting {
  color: var(--dark-02);
  font-size: 45px;
  font-weight: 600;
  margin-bottom: 5px;
}

header .banner-title {
  color: var(--dark-01);
  font-size: 85px;
  font-weight: 700;
  margin-bottom: 20px;
}

header .banner-description {
  color: var(--dark-03);
  font-size: 18px;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
  margin-bottom: 30px;
  max-width: 585px;
}

/* nav styles */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 180px;
}

.nav-title {
  color: var(--dark-01);
  font-size: 45px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

nav > ul {
  display: flex;
  gap: 50px;
  align-items: center;
}
nav li {
  list-style: none;
}
nav a {
  text-decoration: none;
  color: var(--dark-02);
}

/* Main Section Styles */
/* About Section Styles */
.about {
  padding: 130px 156px;
  background-color: var(--primary-bgcolor);
  border-radius: 10px;
  max-width: 1140px;
  text-align: center;
  margin: 130px auto;
}

.about-section-description {
  max-width: 827px;
  margin-bottom: 30px;
}

.about-info-container {
  display: flex;
  justify-content: space-around;
}

.about-info-container > .about-info {
  text-align: center;
}

.about-info > .inifo-title {
  color: var(--dark-03);
  font-size: 20px;
  font-weight: 400;
  line-height: 30px; /* 150% */
}
.about-info > .inifo-description {
  color: var(--dark-02);
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
}

/* what-i-do section */
.whatIdo-section-description {
  max-width: 909px;
  margin-bottom: 50px;
  margin: 0 auto 50px;
}

.skills-container {
  display: flex;
  max-width: 1140px;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto 130px;
  flex-wrap: wrap;
}
.skills-container .skill {
  padding: 33px;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}
.skill > img {
  margin-bottom: 38.27px;
}
.skill > .skill-title {
  color: var(--dark-01);
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 20px;
}
.skill > .skill-description {
  width: 201px;
  color: var(--dark-03);
  font-size: 16px;
  font-weight: 400;
  line-height: 28px; /* 175% */
}

/* resume section */
section#resume-section {
  padding-bottom: 113px;
}

.resume-column-container {
  margin: 113px auto 0;
  display: flex;
  max-width: 1140px;
  justify-content: space-between;
}

.resume-column > .resume-column-title {
  color: var(--dark-02);
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 30px;
}
.resume-column > .resume-item {
  max-width: 511px;
}
.resume-column > .resume-item > .resume-item-heading {
  color: var(--dark-02);
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 10px;
}
.resume-column > .resume-item > .resume-item-subheading {
  color: var(--dark-03);
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
}
.resume-column > .resume-item > .resume-item-description {
  color: var(--Dark-03);
  font-size: 16px;
  font-weight: 400;
  line-height: 28px; /* 175% */
  margin-bottom: 30px;
}

/* footer section */
footer {
  background-color: var(--primary-bgcolor);
  padding: 130px 0;
}
#footer {
  display: flex;
  justify-content: space-around;
  max-width: 1140px;
  margin: 0 auto;
}
#footer .footer-section-title {
  text-align: left;
}
#footer .footer-section-description {
  text-align: left;
  max-width: 562px;
  color: var(--dark-02);
  font-size: 16px;
  font-weight: 400;
  line-height: 28px; /* 175% */
}

#footer .social-links {
  display: flex;
  gap: 24px;
  margin-top: 30px;
}

#footer input {
  display: block;
  border-radius: 5px;
  background: var(--white-color);
  width: 461px;
  height: 64px;
  flex-shrink: 0;
  border: none;
  padding-left: 18px;
  margin-bottom: 24px;
}
#footer textarea#message {
  width: 461px;
  height: 180px;
  border-radius: 5px;
  background: var(--white-color);
  font-family: 'Open Sans', sans-serif;
  padding: 18px;
  resize: none;
  margin-bottom: 24px;
}
#footer > .footer-column:nth-child(2) {
  margin-left: 117px;
}
